<div class="auth-main">
  <div class="auth-wrapper">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>ĐỔI MẬT KHẨU</b></h3>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="password">Mật khẩu hiện tại</label>
            <input type="password" class="form-control" name="oldpassword" [(ngModel)]="oldpassword" id="oldpassword" placeholder="Vui lòng nhập mật khẩu hiện tại"  />
          <div *ngIf="message1 && oldpassword" class="text-danger">
            {{message1}}
        </div>
        <div *ngIf=" submitted && !oldpassword" class="text-danger">
          Vui lòng nhập mật khẩu hiện tại
      </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="password">Mật khẩu mới</label>
            <input type="password" class="form-control" name="newpassword" [(ngModel)]="newpassword" id="newpassword" placeholder="Vui lòng nhập mật khẩu mới"  />
            <div *ngIf="message2 && newpassword" class="text-danger">
              {{message2}}
          </div>
          <div *ngIf=" submitted && !newpassword" class="text-danger">
            Vui lòng nhập mật khẩu mới
        </div>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" for="password">Xác nhận mật khẩu</label>
            <input type="password" class="form-control" name="oldpassword" [(ngModel)]="newpassword2" id="newpassword2" placeholder="Vui lòng xác nhận mật khẩu" />
            <div *ngIf="message3 && newpassword2" class="text-danger">
              {{message3}}
          </div>
          <div *ngIf=" submitted && !newpassword2" class="text-danger">
            Vui lòng nhập mật khẩu mới
        </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <div class="d-grid mt-2">
                  <button type="button" class="btn btn-primary" (click)="changepassword(UserData._id)">Đổi mật khẩu<i></i></button>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                <div class="d-grid mt-2">
                  <button type="button" class="btn btn-primary" (click)="goBack()">Quay lại<i></i></button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>