<div class="row">

  <div class="col-md-12 col-xl-11">
    <h5 class="mb-3"><b>THÊM KHÁCH HÀNG MỚI</b></h5>
    <div class="card tbl-card">
      <div class="card-body">
        <div class="form-group">
          <label class="form-label" for="company">Tên khách hàng</label>
          <input type="text" class="form-control" [(ngModel)]="newcustomer.customerName" name="customerName"
            placeholder="Vui lòng nhập tên khách hàng"  />
            <div *ngIf="submitted && !newcustomer.customerName" class="text-danger">
              Vui lòng nhập tên khách hàng.
             </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="contactName">Tên giao dịch</label>
          <input type="text" class="form-control"  [(ngModel)]="newcustomer.contactName" name="contactName"
            placeholder="Vui lòng nhập tên giao dịch"   />
            <div *ngIf="submitted && !newcustomer.contactName" class="text-danger">
             Vui lòng nhập tên giao dịch.
            </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="phone">Điện thoại</label>
          <input type="text" class="form-control" [(ngModel)]="newcustomer.phone" name="phone"
            placeholder="Vui lòng nhập số điện thoại"   />
            <div *ngIf=" submitted && !newcustomer.phone" class="text-danger">
              Vui lòng nhập số điện thoại.
            </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="email">Gmail</label>
          <input type="text" class="form-control" [(ngModel)]="newcustomer.email" name="email"
            placeholder="Vui lòng nhập Gmail"  />
            <div *ngIf="submitted && !newcustomer.email" class="text-danger">
             Vui lòng nhập địa chỉ email.
            </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="address">Địa chỉ</label>
          <input type="text" class="form-control"  [(ngModel)]="newcustomer.address" name="address"
            placeholder="Vui lòng nhập địa chỉ"   />
            <div *ngIf=" submitted && !newcustomer.address " class="text-danger">
              Vui lòng nhập địa chỉ.
            </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="province">Tỉnh/Thành</label>
          <select class="form-control" [(ngModel)]="newcustomer.province"  name="province">
            <option value="">------Chọn Tỉnh/Thành------</option>
            <option *ngFor="let item of listprovinces" value="{{item.provinceName}}">{{item.provinceName}}</option>
        </select>
        <div *ngIf=" submitted && !newcustomer.province" class="text-danger">
          Vui lòng chọn tỉnh/thành.
      </div>
        </div>

        <div class="text-left">
          <a class="btn btn-flat btn-info" style="color: white;" (click)="goBack()">
            Quay lại
          </a>
        </div>

        <div class="text-left">
          <a class="btn btn-xs btn-danger" style="color: white;" (click)="saveCustomer()">
            Xác nhận
          </a>
        </div>
      </div>
    </div>
  </div>



  <!-- [ sample-page ] end -->
</div>