<div class="row">

  <div class="col-md-12 col-xl-11">
    <h5 class="mb-3"><b>CẬP NHẬT THÔNG TIN MẶT HÀNG</b></h5>
    <div class="card tbl-card">
      <div class="card-body">
        <form  enctype="multipart/form-data">
        <div class="form-group">
          <label class="form-label" for="productName">Tên mặt hàng<i style="color: red;">*</i> :</label>
          <input type="text" class="form-control" [(ngModel)]="product.productName" name="productName" value="{{product.productName}}"
          [ngClass]="{ 'is-invalid':  !product.productName }"  placeholder="Vui lòng nhập tên mặt hàng" >
          <div *ngIf=" !product.productName" class="text-danger">
            Vui lòng nhập tên sản phẩm.
           </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="productDescription">Mô tả :</label>
          <input type="text" class="form-control"  placeholder="Vui lòng nhập mô tả"  [(ngModel)]="product.productDescription" name="productDescription" value="{{product.productDescription}}"  >
        </div>
        <div class="form-group">
          <label class="form-label" for="categoryId">Loại hàng<i style="color: red;">*</i> :</label>
          <select class="form-control" [(ngModel)]="product.categoryId"  name="categoryId"
          [ngClass]="{ 'is-invalid':  !product.categoryId }">
              <option value="">------Chọn loại hàng------</option>
              <option *ngFor="let item of listCategorys"  value="{{item._id}}" selected="item._id === product.categoryId">{{item.categoryName}}</option>
          </select>
          <div *ngIf=" !product.categoryId" class="text-danger">
            Vui lòng chọn loại hàng.
           </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="supplierId">Nhà cung cấp<i style="color: red;">*</i> :</label>
          <select class="form-control" [(ngModel)]="product.supplierId"  name="supplierId" 
          [ngClass]="{ 'is-invalid':  !product.supplierId }">
              <option value="">------Chọn nhà cung cấp------</option>
              <option *ngFor="let item of listSuppliers" value="{{item._id}}" selected="item._id === product.supplierId">{{item.supplierName}}</option>
          </select>
          <div *ngIf=" !product.supplierId" class="text-danger">
            Vui lòng chọn nhà cung cấp.
           </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="unit">Đơn vị tính :</label>
          <input type="text" class="form-control"[(ngModel)]="product.unit" name="unit" value="{{product.unit}}" >
          <div *ngIf=" !product.unit" class="text-danger">
            Vui lòng nhập đơn vị tính.
           </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="price">Giá<i style="color: red;">*</i> :</label>
          <input type="text" class="form-control"  [(ngModel)]="formattedPrice" name="price" (ngModelChange)="formatPrice($event)"  [value]="formatPriceForDisplay()" 
          [ngClass]="{ 'is-invalid':  !product.price || !validatePrice() }" >
          
          <div *ngIf=" !product.price" class="text-danger">
            Vui lòng nhập giá.
           </div>
           <div *ngIf="product.price && !validatePrice() " class="text-danger">
            Giá không đúng định dạng
          </div>
        </div>
        <div class="form-group">
          <label class="form-label" for="photo">Ảnh minh họa :</label>
          <input type="file" class="form-control" name="photo" value="{{product.photo}}"  (change)="selectFile($event)"  />
        </div>
        <div class="form-group">
          <div class="col-lg-offset-2 col-sm-10">  
            @if(preview){
              <img id="photo"  src="{{preview}}" class="img img-bordered" style="width:200px" accept="" />
            }
            @else{
              <img id="photo"  src="../../../../assets/images/products/{{product.photo}}" accept="" class="img img-bordered" style="width:200px" />
            }
             
          </div>
      </div>
        
<div class="input-group justify-content-end">
  <div >
    <a class="btn btn-flat btn-info" style="color: white;" (click)="goBack()">
      Quay lại
    </a>
  </div>

  <div style="margin-left: 20px;">
    <button type="submit" class="btn btn-xs btn-danger" (click)="saveProduct(product._id)">Xác nhận</button>
  </div>
</div>
        
      </form>
      </div>
    </div>
  </div>



  <!-- [ sample-page ] end -->
</div>