<div class="row">
  <div class="col-md-12 col-xl-11">
    <h5 class="mb-3"><b>XÓA THÔNG TIN LOẠI HÀNG</b></h5>
    <div class="card tbl-card">
      <div class="card-body">
        <div class="form-group">
          <label class="form-label" for="categoryName">Tên loại hàng :</label>
          <label type="text" class="form-control" name="categoryName">{{category.categoryName}}</label>
        </div>
        <div class="form-group">
          <label class="form-label" for="Description">Mô tả:</label>
          <label type="text" class="form-control" name="Description">{{category.Description}}</label>
        </div>
        <div class="input-group">
          <div  style="margin-left: 850px;" (click)="goBack()">
            <a class="btn btn-flat btn-info" style="color: white;">
              Quay lại
            </a>
          </div>
          <div style="margin-left: 20px;" (click)="openConfirmDeleteDialog()">
            <a class="btn btn-xs btn-danger" style="color: white;">
              Xác nhận
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>



  <!-- [ sample-page ] end -->
</div>