<div >
    <h1 style="text-align:center"><b> KH STORE</b></h1>

    <h4>THÔNG TIN HÓA ĐƠN</h4>
    <label>Mã HD:</label>10990 <br>
    <label>Ngày:</label>12/2/2024<br>
    <label>Nhân viên:</label> Nguyễn Khánh Huy<br>
    <label>Thời gian TT:</label>12/2/2024<br>

    <h4>THÔNG TIN KHÁCH HÀNG</h4>
    <label>Tên KH:</label> Nguyễn Khánh Hoàng <br>
    <label>SĐT:</label> 06365926565<br>

    <table >
        <thead>
            <tr>
                <th style="width: 150px;">Mặt hàng</th>
                <th style="width: 30px;">SL</th>
                <th style="width: 40px;">ĐVT</th>
                <th style="width: 100px;">Giá</th>
                <th style="width: 100px;">T Tiền</th>
            </tr>
        </thead> 
        <tbody>
            <tr>
                <td>IPhone 14 Pro Max</td>
                <td>1</td>
                <td>Cái</td>
                <td>14000000</td>
                <td>14000000</td>
            </tr>
            <tr>
                <td>IPhone 14 Pro Max</td>
                <td>1</td>
                <td>Cái</td>
                <td>14000000</td>
                <td>14000000</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
              <th colspan="4" class="text-left">Tổng cộng:</th>
              <th class="text-right">100000 VND</th>
              <th></th>
            </tr>
          </tfoot>
    </table>

</div>
   