<nav>
  <div class="navbar-wrapper">
    <div class="m-header">
      <a href="Orders/List" class="b-brand">

        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
          
          <img style="height: 30px; width: 30px; margin-right: 10px;" src="../../../../../assets/images/Remove-bg.ai_1715584959373.png" >
           <b>KH</b> Store
        </span>
      </a>
    </div>
    <app-nav-content (NavCollapsedMob)="navCollapseMob()" class="scroll-div w-100"></app-nav-content>
  </div>
</nav>