<div class="row">
  <div class="col-md-12 col-xl-11">
    <h5 class="mb-3"><b>DANH SÁCH ĐƠN HÀNG</b></h5>
    <div class="card tbl-card">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12 col-xl-3">
              <mat-form-field >
                <mat-label>Ngày lập đơn</mat-label>
                <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                  <input matStartDate formControlName="start" placeholder="dd/MM/yyyy">
                  <input matEndDate formControlName="end" placeholder="dd/MM/yyyy">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>    
              </mat-form-field>      
          </div>
          <div class="col-md-12 col-xl-3">
            <select class="form-control" name="supplier" [(ngModel)]="status" style="height: 55px;">
              <option value="">-----------Trạng thái-----------</option>
              <option value="Đã thanh toán">Đã thanh toán</option>
              <option value="Chưa thanh toán">Chưa thanh toán</option>
              <option value="Đã hủy">Đã hủy</option>
          </select>       
        </div>
          <div class="col-md-12 col-xl-6">
            <div class="input-group">
              <input name="SearchValue" type="text" class="form-control" placeholder="Nhập tên khách hàng cần tìm"
              [(ngModel)]="searchValue" style="height: 55px;" >    
              <div class="input-group-btn">
                <button class="btn btn-flat btn-info" style="margin-left:5px ; height: 55px;" type="submit" >
                  <i class="ti ti-search"></i>
                </button>
              </div>
            </div>
                  
          </div>
          </div>
        </form>
        
        <p style="margin:10px 0 10px 0">
          Có <strong>{{rowCount}}</strong> kết quả trong tổng số <strong>{{pageSize}}</strong> trang
        </p>
        <div class="table-responsive">
          <table class="table table-hover table-borderless mb-0">
            <thead>
              <tr>
                <th>KHÁCH HÀNG</th>
                <th>NGÀY LẬP</th>
                <th>NHÂN VIÊN PHỤ TRÁCH</th>
                <th>THỜI ĐIỂM DUYỆT</th>
                <th>TRẠNG THÁI</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of orders | paginate: {itemsPerPage: 10, currentPage: page }">
                <td>
                  {{item.customerName}}
                </td>
                <td>{{item.orderTime | date: 'dd/MM/yyyy'}}</td>
                <td>{{item.Employee[0].employeeName}}</td>
                <td>
                  <span>{{item.endTime| date: 'dd/MM/yyyy hh:mm a'}}</span>
                </td>
                <td >
                  @if(item.status === "Đã thanh toán"){
                    <div class="statusconnect" >
                      {{item.status}}
                    </div>
                  }
                  @else if(item.status === "Đã hủy"){
                    <div class="statusdisconnect" >
                      {{item.status}}
                    </div>
                  }
                  @else{
                    <div class="statuswaiting" >
                      {{item.status}}
                    </div>
                  }
                  
                  
                </td>
                <td>
                  <div class="btn btn-flat btn-info" [routerLink]="['/Orders/detail', item._id]"
                            mat-raised-button
                            matTooltip="Chi tiết"
                            matTooltipClass="detail">
                    <a  class="ti ti-clipboard" style="color: white;">
                      <i class=""></i>
                    </a>
                  </div>

                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="text-center">
        <pagination-controls (pageChange)="page = $event" class="float-right" ></pagination-controls>
      </div>
      
    </div>
  </div>



  <!-- [ sample-page ] end -->
</div>
<app-scroll-to-top></app-scroll-to-top>