.statusconnect {
    color: #f8f3f3;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: #00cd33;
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
    align-items: center;
    display: inline-flex;
    margin-left: 10px; 
    margin-bottom: 20px;
}
.statusdisconnect {
    color: #f8f3f3;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: #cd0000;
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
    align-items: center;
    display: inline-flex;
    margin-left: 10px; 
    margin-bottom: 20px;
}

.statuswaiting {
    color: #f8f3f3;
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: bold;
    background: #e1fc11;
    padding: 0.125rem 0.75rem;
    border-radius: 100px;
    white-space: nowrap;
    align-items: center;
    display: inline-flex;
    margin-left: 10px; 
    margin-bottom: 20px;
}
