.overflow {
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;  /* Optional: Add a border to better visualize the overflow area */
    padding: 10px;
}
/* Customizing the scrollbar */
.overflow::-webkit-scrollbar {
  width: 6px; /* Width of the vertical scrollbar */
}

.overflow::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

.overflow::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

.overflow::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}
.is-invalid {
    border-color: #dc3545;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.is-invalid:focus {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}
.colum {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    padding: 0;
    height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
  } 
  .colum a {
    display: block;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    width: 95px;
    
  }
  .colum a:hover {
    background-color: #ddd;
  }

  .colum a.selected {
    /* Thiết lập kiểu màu sắc hoặc hiệu ứng khi được chọn */
    background-color: rgb(19 194 194); /* Ví dụ: Màu nền vàng */
    color: #ffffff; /* Ví dụ: Màu chữ trắng */
    font-weight: bold; /* Ví dụ: Chữ in đậm */
}
.colum::-webkit-scrollbar {
  width: 6px; /* Width of the vertical scrollbar */
}

.colum::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners */
}

.colum::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

.colum::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}