<h2 matDialogTitle>XÁC NHẬN HỦY ĐƠN</h2>
<mat-dialog-content >
  
  <div>
    <div class="form-group">
      <label class="form-label" >LÍ DO<i style="color: red;">* </i> :</label>
       <input type="text" class="form-control" [(ngModel)]="reason" name="reason" placeholder="Vui lòng nhập lí do hủy đơn hàng"
       atInput [matAutocomplete]="Auto" [ngClass]="{ 'is-invalid':  !reason }">
       <div *ngIf="!reason && submitted" class="text-danger">
        Lí do hủy đơn không được để trống.
      </div>
    </div>
    <mat-autocomplete #Auto="matAutocomplete"  >
      @for (item of (listreason |FilterByReason: reason); track item) {
        <mat-option [value]="item " >{{item}}</mat-option>
      }
    </mat-autocomplete>
  </div>

</mat-dialog-content>
<mat-dialog-actions>
  <div class="input-group">
    <div>
      <button class="btn btn-xs btn-danger"  (click)="onYesClick()">Xác nhận</button>
    </div>
    <div>
      <button  style="margin-left: 400px;"   class="btn btn-xs btn-info" (click)="onNoClick()" >Quay lại</button>
    </div>
  </div>
  
  
</mat-dialog-actions>